.purple-color{
    color:purple;
    }
    
 body {
 font-family:sans-serif ;
 color: blue;
 line-height: 30px;
 }
 
 .half-width-left{
  width:50%;
  float:left;
  }
  
  .half-width-right{
   width:50%;
   float:right;
   }
   
  .side-img{
  width:95%;
  padding-left:1%;
  padding-bottom:2%;
  }
  
  .primary-btn{
    color: blue;
    background-color:red;
    padding: none;
    border-radius: 40px;
    text-decoration:none;
   }
   
   h1 {
   font-size: 2em;
    }
    
    .container{
    padding-left: 2%;
    display: inline;
    }
    
    .container-two{
    padding-left: 2%;
    display: inline-block;
    }
    
    .experiences{
    border: ;
    color:blue ;
    padding: 1px;
    margin-bottom:5px;
    background-color:rgba(10, 5, 250,.1);
    border-radius: 5px;
    }
    
    .experience-item{
    padding: 5px;
    border-left:2px solid blue;
    border-right: 2px solid blue;
    }

    
